[DEFAULT]
core_plugin = ml2
service_plugins = neutron.services.l3_router.l3_router_plugin.L3RouterPlugin

[service_providers]
service_provider = L3_ROUTER_NAT:TF:networking_opencontrail.l3.service_provider.TFL3ServiceProvider